*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    color: white;
}
#total-body{
    background-color:  #333333;
    width: 100vw;
    height: 100vh;
}
#card
{
    
    width:100vw;
    height:100vh;
}

.two-box{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid gold;
    padding: 8%;
    padding-left: 12%;
}
.signup-img
{
    /* border: 1px solid salmon; */
    width: 45%;
   
}
.signup-img img
{
    width: 100%;
    height: 100%;
    object-fit:contain;
    
}
.signup-content
{
    /* border: 1px solid rgb(211, 114, 250); */
    width: 50%;
}
.signup-content-wrapper
{
    width: 100%;
    height: 100%;
    
}


.signup-form
{
    /* border: 1px solid greenyellow; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    
    /* align-items: center; */
}
/* .signup-content-img
{
    width: 50px;
    height: 50px;
    border-radius: 0.5;
} */


.fa-user
{
    color: #6E85B2;
    font-size: 25px;
}
.signup-input
{
    margin-bottom: 2%;
}
.signup-header 
{
    padding-left: 18%;
    margin-bottom: 6%;
}
 .user-input
{ 
    border: 1px solid #6E85B2;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  padding: 8px;
  border-radius: 3px;
  width: 300px;
  font-size: 14px;
  color: white;  

}
.user-input-submit
{ 
    border: none;
  /* -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  background: #6E85B2;
  padding: 8px;
  border-radius: 3px;
  width: 300px;
  font-size: 14px;
  cursor: pointer;
}
.user-input:focus
{
    outline: none;
    border: 1px solid #FF0075 ;
   
    
}
.input-label
{
    color: #f2f2f2;
}
.user-input-submit,.signin, .user-input
{
    transition: 0.5s;
}
.user-input-submit:hover{
    letter-spacing: 2px;
    background-color: #FEC260;
}
.signin{
    color: #FEC260;
    text-decoration: none;
}
.signin:hover{
    color: #FF0075;
    letter-spacing: 2px;
}

@media (max-width:680px)
{
    .signup-img{
        display: none;
    }
    .user-input,.user-input-submit
    { 
        width: 250px;
    }
    .signup-form
    {
        align-items: center;
    }
    .signup-content
    {
    
    width: 100%;
    }
    .signup-header{
        padding: 0%;
        margin-bottom: 6%;
    }
}

















/* *{
    outline: none;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    height: 100vh; 
    position: relative;
}
.sp-flex
{
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top:35px;
    width: 50vw;  
}
.sp-flex .sp-img
{
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
}
.sp-flex .sp-img img{
    width: 100%;
    object-fit: contain;
    border: 1px solid violet;
}
.sp-flex .sp-form
{
    width: 60%;
    border: 1px solid black;
    display: flex;
}
.sp-flex .sp-form .main-form
{
    width: 100%;
    margin-left: 2%;
}
.sp-flex .sp-form .main-form h2
{
    text-align: center;
}
.sp-flex .sp-form form .text-input
{
    width: 100%;
    position: relative;
    margin-top: 15%;

}
.sp-flex .sp-form .main-form .text-input input[type="text"],.sp-flex .sp-form .main-form .text-input input[type="password"]
{
        
    display: block;   
    width: 80%;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid black;
    box-shadow: none;
    
}
.sp-flex .sp-form .main-form .submit-input button
{
    width: 80%;
    padding: 5px;
    background-color: palevioletred;
    color: black;
    border: none;
    cursor: pointer;
    margin-top: 10%;
    margin-bottom: 2%;
}
.sp-flex .sp-form .main-form .text-input label
{
    top: 0%;
    position: absolute;
    pointer-events: none;
}
.sp-flex .sp-form .main-form .text-input input:focus+label,.sp-flex .sp-form .main-form .text-input input:focus+label,
.sp-flex .sp-form .main-form .text-input input:valid+label,.sp-flex .sp-form .main-form .text-input input:valid+label
{
    color:blueviolet;
    top: -130%;
}

@media(max-width:720px)
{
    .sp-flex
    {
        border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        width: 70vw;
        height: 70vh;
    }
    .sp-flex .sp-img
    {
        display: none;
    }

}





 */
