
<section>
    <div class="card">
        <div class="face front">
            <div class=rsection1>
                <div class="section1">
                    <img src="assets\Images\Login\login2.svg" alt="">
                </div>
            </div>
            <div class="rsection2">
                <div class="section2">
                    <h2>Login</h2>
                    <div class="form">
                        <input type="text" name="username" required>
                        <label>Enter Username or Email </label>
                        <span class="username-span"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="face back">
            <div class="section1">
                Image
            </div>
            <div class="section2">
                Username
                Password
                Button
            </div>
        </div> -->
    </div>
</section>
